/* --------- Variables --------- */
:root {
    --font-title: 'Poppins', sans-serif;
    --font-script: 'Tangerine', cursive;
    --color-dark: #0000ff7f;
    --color-light: #fff;
    /* fondo claro */
    --color-primary: #dcc602;
    --color-white: #fff;
    /* Textos */
    --color-violet: #6d00d1;
}

/* --------- Reset --------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: var(--font-title);
    color: var(--color-white);
    background: var(--color-dark);
    scroll-behavior: smooth;
    line-height: 1.6
}

/* --------- Botón --------- */
.btn {
    display: inline-block;
    padding: 1.2rem 2.2rem;
    border-radius: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: .3s
}

.btn.primary {
    background: var(--color-primary);
    color: #02124d;
    margin-top: 2rem;
}

.btn.outline {
    border: 2px solid var(--color-dark);
    margin-top: 2rem;
    color: #000;
    background-color: #2aff04;

}

.btn:hover {
    opacity: .55;
    color: var(--color-violet);
}

#btnGift {
    padding: 1.7rem 2.7rem;
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#fiesta,
#playlist,
#countdown,
#rsvp {
    padding: 20px 20px 60px;
}


/* --------- Secciones --------- */
.section {
    padding: 70px 20px;
    text-align: center
}

.section-title {
    font-size: 1.3rem;
    margin-bottom: 1.6rem;
    margin-top: 1.5rem;
    text-transform: uppercase;

}

.section-title-fiesta {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
    color: var(--color-violet);
}

.section-click {
    color: var(--color-violet);

}

.bg-dark {
    background: var(--color-dark)
}

.bg-light {
    background: var(--color-light);
    color: #222
}

.pill {
    display: inline-block;
    background: #900cc9;
    color: #fff;
    border-radius: 8px 25px 25px;
    padding: .4rem 1rem;
    margin-top: .5rem
}

/* Mensaje de bienvenida */

#welcome-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #001f3f, #3a517e);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.welcome-content {
    text-align: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

#welcome-overlay h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#welcome-overlay button {
    background: #ffffff;
    color: #000408;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 1rem;
}

#welcome-overlay button:hover {
    background: #dddddd;
}

/* Botón de música */
#music-toggle {
    position: fixed;
    top: 40px;
    right: 40px;
    background-color: #cf4dff;
    color: rgb(75, 96, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0.8;
}

#music-toggle:hover {
    background-color: #5c6fff;

}

#music-toggle {
    transition: transform 0.3s ease;
    font-size: 1.5rem;
    cursor: pointer;
}

#music-toggle:active {
    transform: scale(1.2) rotate(15deg);
}

.playing {
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}


/* Animación para el overlay de bienvenida */
#welcome-overlay {
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}




/* --------- HERO --------- */
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% center;


}

.hero-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .45)
}

.hero-overlay img {
    width: 200px;
    margin-top: 10rem;
    opacity: 0.8;
}



/* Flecha */
.scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 32px;
    height: 32px;
    border-right: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: translateX(-50%) rotate(45deg);
    animation: arrow 2s infinite
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translate(-50%, -10px) rotate(45deg)
    }

    50% {
        opacity: 1;
        transform: translate(-50%, 0) rotate(45deg)
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 10px) rotate(45deg)
    }
}

/* --------- Countdown --------- */
#clock {
    display: flex;
    justify-content: center;
    gap: .8rem;
    margin-top: 2rem
}

#clock div {
    background: rgba(255, 255, 255, .1);
    padding: 1rem;
    border-radius: 10px;
    width: 70px
}

#clock div span {
    display: block;
    font-size: .8rem;
    color: var(--color-primary)
}

#clock div:first-child {
    background: rgba(255, 255, 255, .2)
}

#clock div strong {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primary)
}

/* --------- Iconos --------- */


@keyframes zoomInOut {
    0% {
        opacity: 0;
        transform: scale(.1);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }



}

.icon-animado {
    animation: zoomInOut 2s ease-in-out infinite;
    width: 90px;
}

.icon-animado-m {
    animation: zoomInOut 2s ease-in-out infinite;
    width: 160px;
}

.icon-animado-reproductor{
    animation: zoomInOut 2s ease-in-out infinite;
}


/* --------- Scroll reveal --------- */
.section.hidden {
    opacity: 0;
    transform: translateY(60px);
    transition: .9s
}

.section.appear {
    opacity: 1;
    transform: translateY(0)
}

/* --------- Modal --------- */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .75);
    justify-content: center;
    align-items: center;
    z-index: 100
}

.modal-dialog {
    background: #fff;
    color: #000;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    position: relative;
    text-align: left
}

.modal-dialog h4 {
    margin-bottom: 1rem;
    color: var(--color-violet)
}

.modal-dialog .close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 1.6rem;
    cursor: pointer
}

.modal-dialog ul {
    margin-left: 1rem
}

.modal-dialog hr {
    margin: 1rem 0
}

/* --------- Gracias --------- */
.boom {
    font-family: var(--font-script);
    font-size: 4rem;
    margin-top: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
}

.azul {
    color: #0033fe;
    font-size: 4rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-);



}

.amarillo {
    color: var(--color-primary);
    font-size: 5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-);
    font-weight: 500;
    font-style: oblique;




}

#gracias {
    background-color: var(--color-dark);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




/* --------- Responsive pequeños --------- */

@media(max-width:480px) {
    .section-title {
        font-size: 1.3rem
    }

    #clock div strong {
        font-size: 1.6rem
    }
}

@media(min-width:768px) {
    .hero-overlay img {
        width: 220px;
        margin-top: 15rem
    }

}

@media(min-width:1024px) {
    .hero-overlay img {
        width: 280px;
        margin-top: 15rem;
        opacity: 0.8;
    }
}

@media(min-width:1200px) {
    .hero-img {
        height: 100vh;
        object-position: top;

    }

    .hero-overlay img {
        width: 340px;
        margin-top: 0;
        opacity: 0.8;
    }
}

@media(min-width:1440px) {
    .hero-overlay img {
        width: 450px;
        margin-top: 5rem;
        opacity: 0.8;
    }
}